.dark {
  --BGCOLOR: #333;
  --FONT-COLOR-THEME-ICON-DARK: #f1f1f1;
  --BGCOLOR-THEME-BUTTON: #222;
  --BGCOLOR-THEME-BUTTON-AFTER: #f1f1f1;
  --BORDER-COLOR-THEME-BUTTON: #666;
  --SHADOW-COLOR-THEME: rgba(255, 255, 255, 0.3);
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  display: none;
}
