.button {
  border: var(--BORDER-THEME-BUTTON);
  background-color: var(--BGCOLOR-THEME-BUTTON);
  border-radius: 100px;
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button::after {
  content: "";
  background-color: var(--BGCOLOR-THEME-BUTTON-AFTER);
  position: absolute;
  left: 0;
  top: 0.225rem;
  bottom: 0.225rem;
  width: 1rem;
  border-radius: 100px;
  transform: translateX(0.2rem);
}

.button.active::after {
  transform: translateX(1.1rem);
}

@media (prefers-reduced-motion: no-preference) {
  .button {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  .button::after {
    transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  }
}
