@layer reset, base, layout, components, utilities;

@import url(./reset/reset.css) layer(reset);

@import url(./base/fonts.css) layer(base);
@import url(./base/variables.css) layer(base);
@import url(./base/global.css) layer(base);
@import url(./base/motion.css) layer(base);

@import url(./layout/layout.css) layer(layout);

@import url(./components/theme.css) layer(components);

@import url(./utilities/helpers.css) layer(utilities);

/** || MEDIA QUERY (DEVICE WIDTH) */
@media (min-width: 23.4375rem) {
}

@media (min-width: 48rem) {
}
