.theme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-shadow: var(--BOX-SHADOW-THEME);
  background-color: transparent;
  border-radius: 50px;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .theme {
    transition: box-shadow 0.3s ease-in-out;
  }
}
