/** || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF: "Arial", sans-serif;
  --FS: 1rem;

  /* COLORS */
  --BGCOLOR: #fff;
  --FONT-COLOR: #000;

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-LIGHT: #333;
  --BGCOLOR-THEME-BUTTON: #f1f1f1;
  --BGCOLOR-THEME-BUTTON-AFTER: #333;
  --BORDER-COLOR-THEME-BUTTON: #ccc;
  --SHADOW-COLOR-THEME: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDER-THEME-BUTTON: 1px solid var(--BORDER-COLOR-THEME-BUTTON);

  /* SHADOWS */
  --BOX-SHADOW-THEME: 0 0 3px var(--SHADOW-COLOR-THEME);

  /* TRANSITIONS */
  --TRANSITION-BACKGROUND-COLOR: background-color 0.3s ease-in-out;
  --TRANSITION-COLOR: color 0.3s ease-in-out;
  --TRANSITION-BORDER-COLOR: border-color 0.3s ease-in-out;
  --TRANSITION-BOX-SHADOW: box-shadow 0.3s ease-in-out;
  --TRANSITION-OPACITY: opacity 0.3s ease-in-out;
  --TRANSITION-TRANSFORM-150MS: transform 0.15s ease-in-out;
}
